@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JejuHallasan";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/JejuHallasan.woff") format("woff");
  }
  @font-face {
    font-family: "harlows";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/harlows.woff") format("woff");
  }

  .no-copy {
    user-select: none;
  }
}
